@import '_variable';
@import '_font';
@import '_mediaquery';

.content-container{
    display: flex;
    gap: 4rem;
}
.content-viewer {
    font-family: $font-family-inter;
    color: red;
    height: 100vh ;
    background-color: $bg-content-viewer;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-width: 20rem;
    width: 30vw;
    z-index: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    transition: transform 0.5s ease-in-out;

    @include tablet{
        position: fixed;
    }

    &__header{
        margin-bottom: 1rem;
        &-h1{
            font-size: 1rem;
            margin-bottom: 1ch;
            letter-spacing: 0.15ch;
        }
        &-p{
            padding: .5ch;
            text-align: left;
        }
        &-br{
            width: 100%;
            height: .09ch;
            margin: .5rem 0 .3rem 0;
            background-color: $normal-font-clr;
        }
    }
    a{
        display: block;
        margin-bottom: 1rem;
        text-decoration: none;
        font-size: .9rem;
        color: black;
    }
    .h1{
        font-weight: 600;
    }
    .h2{
        margin-left: .4rem;
        position: relative;
        font-weight: 500;
        :before{
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            height: 15px;
            width: 15px;
            background: red;
        }
    }
    .h3{
        margin-left: .6rem;
        font-weight: 400;
    }
    .h4{
        margin-left: .9rem;
        font-weight: 300;
    }
}
.translate-to-view{
    transform: translateX(0rem);
}
.translate-to-hide{
    transform: translateX(-20rem);
}
.article-viewer{
    margin-top: 5rem;
    overflow-y: auto;
    transition: height 0.5s ease-in-out;
    .article-header{
        display: flex;
        justify-content: center;
        padding-block: .3em;
        border-bottom:1px solid black ;
        margin-bottom: .5rem;
    }
    p{
        margin-top: .3rem;
        font-size: 9px;
        #bold{
            font-weight: 700;
        }
        #h1{
            font-weight: 900;
        }
        #h2{
            font-weight: 900;
        }
        #h3{
            font-weight: 900;
        }
        #h4{
            font-weight: 900;
        }
        #code{
            font-size: .7rem;
            padding-inline: .3rem;
            padding-block: .1rem;
            background: rgba($color: #f3d7d4, $alpha: 0.4);
            border: 1px solid rgba(239, 4, 4,.5);
        }
        #italic{
            font-style: italic;
        }
        
    }
}

.half-size{
    height: 80vh;
    width: 55vw;
    margin-inline:3rem ;
    @include tablet{
        width: 90vw;
    }
    @include belowTablet{
        width: 90vw;
        position: absolute;
        margin-inline: 2rem;
    }
}
.full-size{
    height: 55vh;
    width: 90vw;
    margin-inline:4rem ;
    @include belowTablet{
        width: 90vw;
        position: absolute;
        margin-inline: 2rem;
    }
    @include mobile{
        height: 50vh;
    }

}