@import './variable.module.scss';
@import './font.scss';

.content-container{
    // width: 100vw;

    display: flex;
    gap: 4rem;
}
.content-viewer {
    font-family: $font-family-inter;
    color: red;
    height: 100vh ;
    background-color: $bg-content-viewer;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-width: 20rem;
    width: 30vw;
    // width: clamp(20rem,40vw,30rem);
    z-index: 1;
    position: relative;
    overflow-y: auto;
    &__toggle{
        position: absolute;
        top: 20%;
        right: -7.5px;
        width: 15px;
        height: 80px;
        border-radius: 10px;
        border: 2px solid white;
        background-color:rgba(222, 222, 222, 0.595);
    }
    &__h1{
        margin-bottom: 1ch;
        letter-spacing: 0.15ch;
    }
    &__p{
        padding: .5ch;
        text-align: left;
    }
    &__br{
        width: 100%;
        height: .08ch;
        margin: .5rem 0 .3rem 0;
        background-color: $normal-font-clr;
    }
    div a{
        display: block;
    }
}
.translate-to-view{
}
.translate-to-hide{
    // transform: translateX();
}
.article-viewer{
    margin-top: 5rem;
    // margin: auto auto;
    overflow-y: auto;
    transition: height 0.3s ease-in-out;
    
    p{
        margin-top: .3rem;
        font-size: 9px;
        // padding-left: 2rem;
        #bold{
            font-weight: 700;
        }
        #h1{
            // padding-left: 0rem;
            font-weight: 900;
        }
        #h2{
            // padding-left: 0rem;
            font-weight: 900;
        }
        #h3{
            // padding-left: 0rem;
            font-weight: 900;
        }
        #h4{
            font-weight: 900;
            // padding-left: 0rem;
        }
        #code{
            font-size: .7rem;
            padding-inline: .3rem;
            padding-block: .1rem;
            background: rgba($color: #f3d7d4, $alpha: 0.4);
            border: 1px solid rgba(239, 4, 4,.5);
        }
        #italic{
            font-style: italic;
        }
        #aj{
            display: flex;
            align-items: center;
        }
    }

}
.full-size{
    height: 80vh;
    width: 55vw;
    margin-inline:3rem ;
}
.half-size{
    height: 55vh;
    width: 90vw;
    margin-inline:4rem ;

}