@keyframes translateAnimationPlusX {
    0%{
        transform: translateX(-20rem);
    }
    100%{
        transform: translateX(0rem);
    }
}
@keyframes translateAnimationMinusX {
    0%{
        transform: translateX(0rem);
    }
    100%{
        transform: translateX(-20rem);
    }
}


.content-create-page{
    // display: none;
    display: flex;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;

    &__nav{
        position: fixed;
        top: .5rem;
        right: 2rem;
        width: 25rem;
        .edit-btn{
            position: absolute;
            right: 0;
            border: 1px solid $normal-font-clr;
            margin: .2rem;
            width: 4rem;
            margin-left: 7rem;
        }
        &__toggler{
            opacity: 0.5;
            position: fixed;
            z-index: 3;
            top: 0;
            left: 20rem;
            &-btn{
                z-index: 3;
            }
            @include belowTablet{
                z-index: 3;
                top: 2.2rem;
            }
            // transition: transform 0.5s ease-in-out;
        }
        .toggler{
            &-on{
                animation: translateAnimationPlusX 0.5s ease;
                animation-fill-mode: forwards;
            }
            &-off{
                animation: translateAnimationMinusX 0.8s ease;
                animation-fill-mode: forwards;
            }
            
        }
    }
        
}