.content-create-page{
    // display: none;
    display: flex;
    width: 100vw;

    &__nav{
        position: fixed;
        top: .5rem;
        right: 2rem;
        width: 25rem;
        .edit-btn{
            border: 1px solid $normal-font-clr;
            margin: .2rem;
            width: 4rem;
            margin-left: 7rem;
        }
    }
}